<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars List</title>
</head>
<body>
<h1>Cars List</h1>
<table class="table">
    <thead>
    <tr>

        <th scope="col">Model</th>
        <th scope="col">Series</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car, iterStat :${cars}">
        <td th:text="${iterStat.model}"></td>
        <td th:text="${iterStat.series}"></td>
        <td th:text="${iterStat.date}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>